
        .normal,
        h1,
        h2,
        h3 {
            line-height: 2;
            font-weight: 100 !important;
        }
        
        h1 {
            font-size: 40px;
        }
        /* for links after published*/
        
        body.silex-runtime a:hover {
            text-decoration: none;
        }
        /* remove white space in header in mobile version */
        
        body.body-initial {
            padding-top: 0;
        }
        /* hamburger menu */
        
        @media (max-width: 480px) {
            body.silex-runtime.is-not-active .show-when-active {
                display: none;
            }
            body.silex-runtime.is-active .show-when-not-active {
                display: none;
            }
        }
        
        @media (min-width: 480px) {
            .close-btn,
            .open-btn {
                cursor: pointer;
            }
            /* menu hide */
            body.silex-runtime .show-when-active {
                bottom: 100%;
                top: inherit;
                position: absolute !important;
            }
        }
        /* menu show */
        
        html {
            /*    background: linear-gradient(to left, #d9fbfc, #6df0f2) !important;*/
            background-image: url('../assets/pattern_001.jpg');
            width: 100%;
            height: 100%;
        }
        
        body.silex-runtime {
            transition: .2s all ease-out;
        }
        
        body.is-active.silex-runtime>.section-element {
            margin-bottom: -1px;
        }
        
        body.is-active.silex-runtime {
            box-shadow: 0 -2px 10px 8px rgba(0, 0, 0, 0.11);
        }
        
        body.is-active .show-when-not-active {
            height: 0;
        }
        
        @media (min-width: 480px) {
            body.is-active.silex-runtime {
                transform: scale(0.9, 0.9) translateY(100px);
            }
        }
        /* ************** */
        /* thumb */
        
        @media (min-width: 480px) {
            .silex-runtime .thumb .text-element {
                opacity: 0;
                transition: opacity .5s;
            }
        }
        
        .silex-runtime .thumb:hover .text-element {
            opacity: 1;
        }
        
        .silex-runtime .thumb .text-element {
            width: 100%;
            left: 0;
            height: 100%;
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        .silex-runtime .thumb .text-element .silex-element-content {
            height: auto;
        }
    
        .body-initial {
            background-color: transparent;
        }
        
        .silex-id-1496137851436-2 {
            min-width: 1000px;
            background-color: transparent;
            top: 5px;
            left: 5px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1496137851436-2 {
                top: 60px;
                left: 0px;
            }
        }
        
        .silex-id-1496137851435-1 {
            width: 1000px;
            min-height: 135px;
            top: 15px;
            left: 621px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1496137851435-1 {
                min-height: 340px;
            }
        }
        
        .silex-id-1516546829572-0 {
            width: 997px;
            background-color: rgba(43, 88, 255, 0.09803921568627451);
            min-height: 45px;
            top: 52px;
            left: 0px;
        }
        
        .silex-id-1496162110372-8 {
            width: 30px;
            min-height: 30px;
            top: 6px;
            left: 957px;
            background-color: transparent;
        }
        
        .silex-id-1496149356935-6 {
            width: 92px;
            min-height: 20px;
            top: 4px;
            left: 856px;
            background-color: transparent;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1496149356935-6 {
                top: 77px;
                left: 11px;
                width: 423px;
                min-height: 32px;
            }
        }
        
        .silex-id-1496149361299-7 {
            width: 92px;
            min-height: 20px;
            top: 5px;
            left: 755px;
            background-color: transparent;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1496149361299-7 {
                top: 110px;
                left: 11px;
                width: 423px;
                min-height: 32px;
            }
        }
        
        .silex-id-1496138076573-3 {
            width: 92px;
            min-height: 20px;
            top: 5px;
            left: 656px;
            background-color: transparent;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1496138076573-3 {
                top: 45px;
                left: 11px;
                width: 423px;
                min-height: 32px;
            }
        }
        
        .silex-id-1496159080195-1 {
            width: 643px;
            min-height: 127px;
            top: -49px;
            left: 1px;
        }
        
        .silex-id-1478366444112-1 {
            top: 100px;
            left: NaNpx;
            background-color: rgba(255, 255, 255, 1);
            min-width: 1000px;
        }
        
        .silex-id-1478366444112-0 {
            min-height: 133px;
            background-color: transparent;
            width: 1000px;
            top: 15px;
            left: 385px;
        }
        
        .silex-id-1496160336487-5 {
            width: 30px;
            min-height: 30px;
            top: 56px;
            left: 969px;
        }
        
        .silex-id-1496137172968-2 {
            width: 644px;
            min-height: 128px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1496169913595-60 {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1496169913594-59 {
            min-height: 100px;
        }
        
        .silex-id-1496148764365-5 {
            top: 751px;
            left: 5px;
            background-color: rgba(255, 255, 255, 1);
            min-width: 1000px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1496148764365-5 {
                top: 899px;
                left: 0px;
            }
        }
        
        .silex-id-1496148764363-4 {
            width: 1000px;
            min-height: 1167px;
            top: 15px;
            left: 621px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1496148764363-4 {
                min-height: 3015px;
            }
        }
        
        .silex-id-1517497319334-0 {
            width: 947px;
            min-height: 1283px;
            top: 176px;
            left: 19px;
        }
        
        .silex-id-1517497413880-1 {
            width: 311px;
            min-height: 92px;
            top: 100px;
            left: 1081px;
        }
        
        .silex-id-1496168536497-35 {
            background-color: rgba(255, 255, 255, 1);
            top: 343px;
            left: 5px;
            min-width: 1000px;
        }
        
        .silex-id-1496168536496-34 {
            width: 1000px;
            min-height: 666px;
            top: 15px;
            left: 598px;
            background-image: url('../assets/clem-onojeghuo-173078.jpg');
            background-size: cover;
            background-position: top center;
        }
        
        .silex-id-1496169474610-49 {
            background-color: rgba(255, 255, 255, 1);
            top: 1044px;
            left: 5px;
            min-width: 1000px;
        }
        
        .silex-id-1496169474609-48 {
            width: 1000px;
            min-height: 406px;
            top: 15px;
            left: 598px;
        }
        
        .silex-id-1496169503613-50 {
            width: 1000px;
            min-height: 332px;
            top: 31px;
            left: 0px;
        }
        
        .silex-id-1496169649756-52 {
            background-color: rgba(255, 255, 255, 1);
            min-width: 1000px;
        }
        
        .silex-id-1496169649755-51 {
            width: 1000px;
            min-height: 809px;
            top: 15px;
            left: 598px;
        }
        
        .silex-id-1496169673047-55 {
            width: 480px;
            background-color: transparent;
            min-height: 325px;
            top: 100px;
            left: 0px;
            background-image: url('../assets/freestocks-org-182582.jpg');
            background-size: cover;
        }
        
        .silex-id-1496169673047-56 {
            width: 195px;
            min-height: 159px;
            top: 75px;
            left: 128px;
            background-color: rgba(255, 255, 255, 0.7843137254901961);
        }
        
        .silex-id-1496169687166-57 {
            width: 326px;
            min-height: 52px;
            top: 19px;
            left: 0px;
        }
        
        .silex-id-1496169673037-53 {
            width: 480px;
            background-color: transparent;
            min-height: 325px;
            top: 100px;
            left: 520px;
            background-image: url('../assets/david-cohen-172050.jpg');
            background-size: cover;
        }
        
        .silex-id-1496169673037-54 {
            width: 210px;
            min-height: 158px;
            top: 86px;
            left: 136px;
            background-color: rgba(255, 255, 255, 0.7843137254901961);
        }
        
        .silex-id-1496169810519-58 {
            width: 1000px;
            min-height: 332px;
            top: 443px;
            left: -1px;
        }
        
        .silex-id-1478366450713-3 {
            top: 100px;
            left: NaNpx;
            background-color: rgba(255, 255, 255, 1);
            min-width: 1000px;
        }
        
        .silex-id-1478366450713-2 {
            min-height: 183px;
            background-color: transparent;
            width: 1000px;
            top: 15px;
            left: 621px;
        }
        
        .silex-id-1496168656857-36 {
            width: 92px;
            min-height: 20px;
            top: 45px;
            left: 338px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1496168656857-36 {
                top: 194px;
                left: 307px;
                width: 128px;
                min-height: 32px;
            }
        }
        
        .silex-id-1496168764134-41 {
            width: 147px;
            min-height: 68px;
            background-color: transparent;
            top: 103px;
            left: 449px;
        }
        
        .silex-id-1496168656864-38 {
            width: 92px;
            min-height: 20px;
            top: 45px;
            left: 458px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1496168656864-38 {
                top: 194px;
                left: 10px;
                width: 128px;
                min-height: 32px;
            }
        }
        
        .silex-id-1496168656861-37 {
            width: 92px;
            min-height: 20px;
            top: 45px;
            left: 582px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1496168656861-37 {
                top: 194px;
                left: 159px;
                width: 128px;
                min-height: 32px;
            }
        }
    